<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	
	<link rel="stylesheet" type="text/css" href="__LIB__/font/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="__LIB__/components/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="__LIB__/components/perfect-scrollbar/perfect-scrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css" >
	<link rel="stylesheet" type="text/css" href="__CSS__/page.css">
	<style type="text/css">html, body { overflow: visible;}</style>

	<script type="text/javascript" src="__LIB__/utils/jquery.min-1.8.2.js"></script>
	<script type="text/javascript" src="__LIB__/components/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="__LIB__/components/layer/layer.js"></script>
	<script type="text/javascript" src="__LIB__/components/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="__LIB__/utils/jquery.validation.min.js"></script>
	<script type="text/javascript" src="__LIB__/utils/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="__LIB__/utils/flexigrid.js"></script>
	
	<script type="text/javascript" src="__JS__/admin.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<script type="text/javascript" src="__JS__/global.js"></script>	
	<script type="text/javascript" src="__JS__/myAjax2.js"></script>    
	<script type="text/javascript" src="__JS__/myFormValidate.js"></script>    

    <script type="text/javascript">
    function delfunc(obj){
    	layer.confirm('确认删除？', {
    		  btn: ['确定','取消'] //按钮
    		}, function(){
    		    // 确定
   				$.ajax({
   					type : 'post',
   					url : $(obj).attr('data-url'),
   					data : {act:'del',del_id:$(obj).attr('data-id')},
   					dataType : 'json',
   					success : function(data){
   						if(data==1){
   							layer.msg('操作成功', {icon: 1});
   							$(obj).parent().parent().parent().remove();
   						}else{
   							layer.msg(data, {icon: 2,time: 2000});
   						}
//   						layer.closeAll();
   					}
   				})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);
    }
    
    function selectAll(name,obj){
    	$('input[name*='+name+']').prop('checked', $(obj).checked);
    }   
    
    function get_help(obj){
        layer.open({
            type: 2,
            title: '帮助手册',
            shadeClose: true,
            shade: 0.3,
            area: ['70%', '80%'],
            content: $(obj).attr('data-url'), 
        });
    }
    
    function delAll(obj,name){
    	var a = [];
    	$('input[name*='+name+']').each(function(i,o){
    		if($(o).is(':checked')){
    			a.push($(o).val());
    		}
    	})
    	if(a.length == 0){
    		layer.alert('请选择删除项', {icon: 2});
    		return;
    	}
    	layer.confirm('确认删除？', {btn: ['确定','取消'] }, function(){
    			$.ajax({
    				type : 'get',
    				url : $(obj).attr('data-url'),
    				data : {act:'del',del_id:a},
    				dataType : 'json',
    				success : function(data){
    					if(data == 1){
    						layer.msg('操作成功', {icon: 1});
    						$('input[name*='+name+']').each(function(i,o){
    							if($(o).is(':checked')){
    								$(o).parent().parent().remove();
    							}
    						})
    					}else{
    						layer.msg(data, {icon: 2,time: 2000});
    					}
    					layer.closeAll();
    				}
    			})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);	
    }
</script>  

</head>