<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
    </button>
    <h4 class="modal-title">{$detail['id']>0 ? '修改' : '新增'}分类</h4>
</div>
<div class="modal-body">
	<form class="form-inline form-edit border-none" id="formEdit" method="post" action="pop_edit" autocomplete="off">
       	<input type="hidden" id="id" name="id" value="{$detail.id}">
       	<input type="hidden" id="pid" name="pid" value="{$detail.pid}">
       	<div class="form-unit-style" data-title="分类信息">
			<div class="form-group clearfix">
				<div class="label-zoon required">分类名称</div>
				<div class="input-zoon">
					<input class="form-control width-main" type="text" id="title" name="title" value="{$detail.title}" placeholder="">
				</div>
			</div>
			<div class="form-group clearfix">
				<div class="label-zoon required">绑定表单</div>
				<div class="input-zoon">
					<select class="form-control width-half1" id="form_id" name="form_id" data-default="无表单" >
						<option value="">选择表单</option>
						{:widget('FormWidget/formOptions', ['selected' => $detail['bind_form']['id']])}
					</select> 
					<input class="form-control width-half2" type="text" id="form_title" name="form_title" value="{$detail.bind_form.title}" placeholder="表单名称">
               </div>
           </div>
			
			<div class="form-group clearfix">
				<div class="label-zoon required">绑定属性</div>
				<div class="input-zoon">
					<select class="form-control width-half1" id="attribute_id" name="attribute_id" data-default="无表单" >
						<option value="">选择属性</option>
						{:widget('AttributeWidget/attributeOptions', ['selected' => $detail['bind_attribute']['id']])}
					</select> 
					<input class="form-control width-half2" type="text" id="attribute_title" name="attribute_title" value="{$detail.bind_attribute.title}" placeholder="属性名称"> 
               </div>
           </div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <span id="resultInfo" class="text-success pull-left"></span>
    <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    
</div>
<script type="text/javascript">
$(function(){
    $("#saveBtn").on("click",function(){
        var btn = $(this);
        btn.addClass("disabled");
        $.post("/alliance/cate/pop_edit.html",$("#formEdit").serialize()).success(function(data){
            if(data.code==0){
            	showMsg(data.msg,'error');
                btn.removeClass("disabled");
            }else if(data.code==1){
            	popModalHide();
            	refreshFrame();
            }
        });
        return false;
    })
    
    $("#form_id").val("{$detail.bind_form.id}");
    $("#form_id").on("change",function(){
    	if($("#form_title").val()==''){
    		$("#form_title").val($("#form_id").find("option:selected").text());
    	}
    })
    
    $("#attribute_id").val("{$detail.bind_attribute.id}");
    $("#attribute_id").on("change",function(){
    	if($("#attribute_title").val()==''){
    		$("#attribute_title").val($("#attribute_id").find("option:selected").text());
    	}
    })
})
</script>