	    <form class="form-inline form-edit" id="formEdit" style="margin-top:-1px;" enctype="multipart/form-data" method="post" action="edit" autocomplete="off">
	        <input type="hidden" id="id" name="id" value="{$detail.id}">
	        <div class="form-unit-style" data-title="乘客信息">
	            <h5 class="real-name-head margin-large-top text-main-deep">货物信息<span class="margin-left">请务必确认乘客联系方式</span></h5>
	            <div class="form-group clearfix">
	                <div class="label-zoon">出发地</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-xs" id="from_city_name" name="from_city_name" value="{$detail.from_city_name}" placeholder="出发城市"/>
						<input type="text" class="form-control width-sm" id="from_city_addr" name="from_city_addr" value="{$detail.from_city_addr}" placeholder="请输入详细地址">
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon">目的地</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-xs" id="to_city_name" name="to_city_name" value="{$detail.to_city_name}" placeholder="目的城市"/>
						<input type="text" class="form-control width-sm" id="to_city_addr" name="to_city_addr" value="{$detail.to_city_addr}" placeholder="请输入详细地址">
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon">出发时间</div>
	                <div class="input-zoon">
		                <div class="input-group width-main" >
	                        <input type="text" class="form-control datetimepicker" id="cust_time" name="cust_time" value="{$detail.cust_time}" placeholder="">
	                        <span class="input-group-addon" id="icon_cust_time">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                    </div> 
                    </div>
	            </div>
	            <div class="form-group clearfix">
	                <div class="label-zoon">乘客数量</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="cust_num" name="cust_num" value="{$detail.cust_num}" placeholder=""> 人
	                </div>
	            </div>
	            <div class="form-group clearfix">
	                <div class="label-zoon">乘客手机</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="cust_mobile" name="cust_mobile" value="{$detail.cust_mobile}" placeholder="">
	                </div>
	            </div>
	            <div class="form-group clearfix">
	                <div class="label-zoon">备注信息</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="cust_remark" name="cust_remark" value="{$detail.cust_remark}" placeholder="例如:王先生，带3个大行李">
	                </div>
	            </div>
	        </div>
	        
	        <div class="form-unit-style" data-title="出车费用">
	            <h5 class="real-name-head margin-large-top text-main-deep">出车费用<span class="margin-left">乘客需求</span></h5>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon">车类型</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="car_type" name="car_type" value="{$detail.car_type}" placeholder="例如:大巴车（30座以上），商务车GL8">
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon">出车费</div>
	                <div class="input-zoon">
						<input class="form-control width-main" type="text" id="car_fee" name="car_fee" value="{$detail.car_fee}" placeholder=""> 元
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon">平台费</div>
	                <div class="input-zoon">
						<input class="form-control width-main" type="text" id="platform_fee" name="platform_fee" value="{$detail.platform_fee}" placeholder=""> 元
	                </div>
	            </div>
	        </div>          
	        
	        <div class="form-unit-style margin-large-top" data-title="提交">
	            <div class="form-group clearfix">
	                <div class="label-zoon"></div>
	                <div class="input-zoon">
	                    <button type="submit" class="btn btn-info">立即保存</button>
	                    <button type="button" class="btn btn-default margin-left-15">返回上页</button>
	                </div>
	            </div>
	        </div>
	    </form>
<script src="/lib/components/cityselect/js/cityselect.js"></script>
<script>
var $page = {};
var from_city_name = new Vcity.CitySelector({input:'from_city_name'});
var to_city_name = new Vcity.CitySelector({input:'to_city_name'});
$(function(){
    
    //初始化datetimepicker插件
    $('.datetimepicker').datetimepicker({
        format: 'Y-m-d H:i',
        timepicker:true,
        step:30,
        lang:"ch"
    });
    
    $("#icon_cust_time").on("click",function(){
        $('#cust_time').datetimepicker('show');
    })  
})

</script>